@model UyduGoruntu.Models.Mountain

<h2>Dağı Sil</h2>
<h3>@Model.Name adlı dağı silmek istediğinize emin misiniz?</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Sil</button>
    <a asp-action="Index" class="btn btn-secondary">İptal</a>
</form>
